{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>Titulo de la plantilla</h1>
    <img src="{% static 'img/lunita.jpg' %}" alt="" width="300px" height="300px">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi repellendus nesciunt ratione, dolores, cum impedit quaerat esse ut sint optio qui obcaecati explicabo animi quos, veniam earum quia voluptatum unde.</p>
    <h2>este es otro titulo</h2>
</body>
</html>